<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <link href="{{.StaticDir}}/css/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{.StaticDir}}/css/prettify.css">
    <script type="text/javascript">
        var __conf = {{.Config }}
        var __basic = {{.Basic }}
    </script>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="{{.StaticDir}}/js/prettify.js" onload="PR.prettyPrint()"></script>        
    <script src="{{.StaticDir}}/js/index.js"></script>
</body>

</html>